/* src/app/globals.css */

@import "tailwindcss";

body {
  background-color: #212121;
  color: white;
}

/* Custom CSS to hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera*/
}

@layer base {
  html {
    @apply text-neutral-900 bg-neutral-100; /* Default light mode */
  }
  html.dark {
    @apply text-neutral-100 bg-neutral-900; /* Dark mode overrides */
  }
  /* Custom scrollbar for light mode */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
  }

  /* Custom scrollbar for dark mode */
  html.dark .custom-scrollbar::-webkit-scrollbar-track {
    background: #333;
  }
  html.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
  }
  html.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
}
